<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="meta::source"/>
<body>
<header th:replace="meta::nav"/>
<div class="container">
    <div>
        <h2 class="text-center">各科室容量份额饼状图</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form onsubmit="return false;">
                <div class="form-group">
                    <label>报表名称</label>
                    <input type="text" class="input form-control" id="name" name="name" placeholder="表名"/>
                </div>
                <div class="form-group">
                    <label>产品类型</label>
                    <!--<select class="input form-control selectpicker" id="productS">-->
                        <!--<option value="雅施达">雅施达</option>-->
                        <!--<option value="科素亚">科素亚</option>-->
                        <!--<option value="代文">代文</option>-->
                        <!--<option value="洛汀新">洛汀新</option>-->
                        <!--<option value="纳催离">纳催离</option>-->
                    <!--</select>-->
                    <select class="input form-control selectpicker" id="productS" data-live-search="true">
                        <option th:each="e:${proList}" th:value="${e.key}" th:text="${e.value}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>月份</label>
                    <input class="form-control form_datetime" readonly="readonly" id="date" name="date" placeholder="日期"/>
                </div>

                <div class="form-group">
                    <label>图表类型</label>
                    <select class="input form-control selectpicker" id="chartS">
                        <option value="容量">容量</option>
                        <option value="份额">份额</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" id="submit" class="btn btn-primary">确定</button>
                </div>
            </form>
        </div>
        <div th:replace="meta::chartDiv"/>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    $(function () {
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm",
            autoclose: true,
            startView: 3,
            minView: 3,
            language: "zh-CN"
        });
    });

    var chart;

    $("#submit").click(function () {
        var data = {
            name: $("#name").val(),
            date: $("#date").val(),
            product: $("#productS").val(),
            type: $("#chartS").val()
        };
        console.dir(data);
        $.ajax({
            url: "/pieChart",
            data: data,
            success: function (data) {
                chart = Highcharts.chart("chart", JSON.parse(data));
            }
        });
    });

    $("#export").click(function () {
        chart.exportChart();
    });
</script>