<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="meta::source">
</head>
<body>
<header th:replace="meta::nav"/>
<div class="container">
    <div>
        <h2 class="text-center">Pie1</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form onsubmit="return false;">
                <div class="form-group">
                    <label>Test</label>
                    <select class="selectpicker">
                        <option>心内科</option>
                        <option>肾内科</option>
                        <option>中心</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" id="submit" class="btn btn-primary">确定</button>
                </div>
            </form>
        </div>
        <div th:replace="meta::chartDiv"/>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    //<![CDATA[
    $(function(){
        $("select").selectpicker();
    });
    var chart;
    $("#submit").click(function () {
       $.ajax({
           url: "/p",
           data: {},
           error: function (xhr, status) {
               alert(status);
           },
           success: function (data) {
               console.dir(data);
               console.dir(JSON.parse(data));
               chart = Highcharts.chart("chart", JSON.parse(data));
           }
       });
    });

    $("#export").click(function () {
        chart.exportChart();
    });
    //]]>
</script>